body {
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px 0px 0px;
}

header {
	min-height: 1px;
	width: 100%;
	min-height: 50px;
}
nav {
	display: block;
	min-height: 40px;
	width: 100%;
	border: solid black 1px;
	background-color: grey;
	opacity: 0.8;
}
.navlinks {
	display: block;
	float: left;
	color: black;
	margin-right: 20px;
	margin-top: 10px;
	box-sizing: border-box;
}	
.navlinks:first-child {
	margin-left: 20px;
}
.navlinks a {
	text-decoration: none;
	color: black;
	box-sizing: border-box;
	font-size: 14px;
	transition: background-color 1.7s ease;
	transition: color 1.7 ease;
}
.navlinks a:hover {
	background-color: black;
	color: white;
	box-sizing: border-box;
	padding: 12px 0px 12px 0px;
}
p.signature {
	font-family: 'Dancing Script', cursive;
	float: right;
	padding-right: 15px;
	font-size: 25px;
	padding-top: 0px;
	margin-top: 3px;
}
@media (max-width: 485px){
	p.signature {
		visibility: hidden;
	}
}
/*Index.html*/
.index-content {
	width: 70%;
	min-height: 600px;
	margin: auto;
	border: solid black 1px;
}
h1.main-header {
	text-align: center;
}
.main-photo-container {
	width: 100%;
	min-height: 300px;
	border: solid black 1px;
}
.main-photo {
	display: block;
	width: 500px;
	padding-top: 20px;
	margin: auto;	
}
.index-content p {
	text-align: center;
}

/*About Me*/
.photos {
	width: 90%;
	min-height: 500px;
	margin: auto;
}
.pic-container {
	float: left;
	background-color: white;	
	width: 33.3333%;
	min-height: 300px;	
	box-sizing: border-box;
}
.picture {
	display: block;
	width: 275px;
	margin: auto;
}
/*individual photos*/
@media (max-width: 970px) {
	.photos {
		width: 90%;
		min-height: 450%;

	}
	.pic-container {
		width: 50%;
	}
}
@media (max-width: 645px) {
	.pic-container {
		width: 100%;
	}
}


/*CLEARFIX*/
.clearfix {
	display: block;
	content: "";
	clear: both;
}
footer {

}